@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #f0f4f5;
}

h1{
    font-family: 'Stalinist One', cursive;
    margin-bottom: 20px;
}

p{
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3{
    font-family: 'Turret Road', cursive;
    margin: 0;
    color: #f0f4f5;
    transition: ease-in-out 0.6s;
}

img{
    width: 100vw;
    height: 40vh;
}


.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0; 
}

@media (max-width: 576px){
    p{
        font-size: 20px;
        margin: 5px;
    }
}


@media (min-width: 765px){
    h1{
        font-size:  50px;
    }

    img{
        height: 50vh;
    }

    p{
        font-size: 35px;
    }

    h3{
        font-size: 30px;
    }
}


@media (min-width: 1200px){
    img{
        width: 80vw;
        height: 70vh;
    }

    h3{
        font-size: 28px;
    }
}


h3:hover{
    color: red;
}